<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<!doctype html>
<html lang="en">
	<style>
	
	</style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<title>Only-Text</title>
	<style>
		#btn:hover{background-color: #f0f0f5;}
		#btn2:hover{background-color: grey;}
	</style>
  </head>
  <body>
	<div class="jumbotron jumbotron-fluid bg-dark" style="color: #b7b4c4; height: 500px;">
		<div style="padding:10px">
			<h3 class='text text-light'>Welcome to </h3><p style='color:chocolate' class='display-4'>Only-text</p>
			<p class="lead text-light">A chat service with a cool hidden feature</p>
			<hr class="my-2">
			<p class ='text' style="color: #b7b4c4">Use the buttons below to navigate your way through the other pages. PS: Don't start a text with '!'😉</p>
			<a class="btn" id='btn' style="color:chocolate" href="{% url 'create_room' %}"role="button">Create Room</a>
			<a class="btn text-light" id='btn2' href="{% url 'join_room' %}">Join Room</a>
		</div>
	</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>

	